#box1 {
    background-color:#000047
}
#box2 {
    background-color:#000075
}
#box3 {
    background-color:	#0000A3
}
#box4 {
    background-color: #0000D1
}
#box5 {
    background-color:#0000FF
}
#box6 {
    background-color:#2E2EFF
}
#box7 {
    background-color:	#5C5CFF
}
#box8 {
    background-color:#8A8AFF
}
#box10 {
    background-color:#B8B8FF
}
table.table1,:hover :active{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-: ;
    border: black;
    cursor: zoom-in;
    
}
